/* This is the styling of the freeins landing page */


@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    
    width: auto;
    height: auto;
    font-family: 'Share Tech Mono' ;
} 

html, body {
    margin: 0;
    height: 100%;
}

#container {
    width: auto;
   /* display: flex;
    flex-direction: column;*/
    
}


header, footer {
    background-color: #1f2937;
}

header {
    display: flex; 
    flex-direction: column;
    
}

header:first-child {
    flex: 1; 
}

header:last-child { 
    flex: 1; 
}


.content {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 5vh;
}

h1, nav {
    color: #f9faf8;
}

h1 {
    font-size: 48px;
}

nav {
    display: flex;
}

#header-logo {
    font-size: 24px;
    font-weight: bolder;
    text-transform: uppercase;
    flex: 1;
}

.navbar ul {
    list-style-type: none; 
    overflow: hidden;
    flex: 1; 
    display: flex;
    gap: 80px;
    align-items: center;
    justify-items: center;
}



.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: #e5e7eb;
    display: block;
    display: inline-block;
    width: 100%;
    flex: 1; 
}

h5 {
    font-size: 18px;
    color: #e5e7eb;
}


.hero {
    display: flex;
    align-items: center;
}

.heading {
    flex: 1;
    width: 50%;
}

.heading button {
    border-radius: 5px;
    border-width: 0px;
    border-style: solid;
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
    font-size: 16px;
    width: 200px;
    height: 50px;
}


.teaser-image {
    flex: 1; 
    width: 50%;
}



.illustrations {
    display: flex;
}

.key-image {
    flex: 1;
    
    text-align: center;
    padding: 20px;
}

.key-illustration {
    width: 60%;
    height: auto;
    border-radius: 5px;
    border-color: #3882f6;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    background-color: transparent;
}

footer {
    position: relative;
    bottom: 0; 
    left: 0; 
    right: 0; 
    height: 5vh;
    color: #e5e7eb;
    font-size: 9pt;
    text-align: center;
}

footer p {
    padding-top: 1.5vh;
    padding-bottom: 0 !important; 
    margin-bottom: 0; 
}

.button-holder {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 5px;
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 20px;
}

.button-holder button {
    border-width: 2px;
    border-color: #e5e7eb;
    border-radius: 5px;
    border-style: solid;
    background-color: transparent;
    color: #e5e7eb;
    font-weight: bold;
    font-size: 16px;
    width: 200px;
    height: 50px;
    margin: 50px;
    
}

.mood-image {
    width: 100%; 
}

.button-holder:first-child {
    flex: 2; 
}

.button-holder:last-child {
    flex: 1; 
}

#section2 p {
    text-align: right;
}

